CountersClient/Service References/CountersServiceReference/CountersService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/CountersService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CountersLibrary" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHello">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CountersLibrary" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CountersLibrary" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCounterOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCounterOptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CountersLibrary" minOccurs="0" name="GetCounterOptionsResult" nillable="true" type="q3:CounterOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCounterOptionses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCounterOptionsesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CountersLibrary" minOccurs="0" name="GetAllCounterOptionsesResult" nillable="true" type="q4:ArrayOfCounterOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonalAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonalAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CountersLibrary" minOccurs="0" name="GetPersonalAccountResult" nillable="true" type="q5:PersonalAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPersonalAccounts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPersonalAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CountersLibrary" minOccurs="0" name="GetAllPersonalAccountsResult" nillable="true" type="q6:ArrayOfPersonalAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCounterValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personalAccountId" type="xs:int" />
        <xs:element minOccurs="0" name="counterId" type="xs:int" />
        <xs:element minOccurs="0" name="value" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCounterValueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCounterValuesByAccounts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCounterValuesByAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CountersLibrary" minOccurs="0" name="GetAllCounterValuesByAccountsResult" nillable="true" type="q7:ArrayOfCounterValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCounterValuesByAccountId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personalAccountId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCounterValuesByAccountIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CountersLibrary" minOccurs="0" name="GetAllCounterValuesByAccountIdResult" nillable="true" type="q8:ArrayOfCounterValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCounterValuesByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateTo" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCounterValuesByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CountersLibrary" minOccurs="0" name="GetAllCounterValuesByTimeResult" nillable="true" type="q9:ArrayOfCounterValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>